<!DOCTYPE html><!-- 제목:원장 인사말 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=1700">
    <script type="text/javascript" src="/js/lnb.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script><!-- 메뉴, 메인 제이쿼리 -->
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="/js/gnb.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <title>칼빈대학교 평생교육원</title>
</head>
<body>
<div id="warp">
    <div th:replace="~{fragments/header :: header}"></div>
</div>
<div id="contents">
    <div th:replace="~{menu/mypage/fragments/left_sidebar :: left_sidebar}">
        <!--//왼쪽메뉴 끝-->
    </div>

    <style>
              .w { text-align: left; }
              .x { text-align: right; }
              .y { text-align:  justify; width:73%; word-break:break-all; }
              .z { text-align: justify; width:45%; word-break:break-all; }
    </style>

    <div class="right_warp">
        <div class="local">
            <p>HOME &gt; 마이페이지 &gt; 내 강의</p>
            <h3>내 강의</h3>


        </div>
        <div class="contentsArea">
            <div class="bbsList">
                <table width="100%">
                    <tr>
                        <th width="15%">과정</th>
                        <th width="45%">교과목</th>
                        <th width="15%">수강료</th>
                        <th width="10%">납부상태</th>
                        <th width="10%">수강신청</th>
                    </tr>
                    <tr th:each = "subject :${subject_list}">
                        <td th:text="${subject.subject_field}"></td>
                        <td>
                            <a th:href="@{/menu/subject/apply(id = ${subject.subject_id})}" th:text="${subject.subject_name}"></a>
                        </td>
                        <td th:text="${subject.fee}+'원'"></td>
                        <td th:if="${subject.pay_stat.name() == 'y'}" style="background:lightblue;">납부완료</td>
                        <td th:if="${subject.pay_stat.name() == 'n'}" style="background:yellow;">납부전</td>
                        <td th:if="${subject.pay_stat.name() == 'r'}" style="background:lightgray;">환불</td>
                        <td th:if="${subject.subject_stat.name() == '임시'}" style="background:lightgreen;">임시</td>
                        <td th:if="${subject.subject_stat.name() == '접수중'}" style="background:orange;">접수중</td>
                        <td th:if="${subject.subject_stat.name() == '마감'}" style="background:red;color:white;">마감</td>
                        <td th:if="${subject.subject_stat.name() == '폐강'}" style="background:gray;color:white;">폐강</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--//contentsArea 끝-->
    </div>
    <!--//right_warp 끝-->
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>