<!DOCTYPE html><!-- 제목:원장 인사말 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=1700">
    <script type="text/javascript" src="/js/lnb.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script><!-- 메뉴, 메인 제이쿼리 -->
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="/js/gnb.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <title>칼빈대학교 평생교육원</title>
</head>
<body>
<div id="warp">
    <div th:replace="~{fragments/header :: header}"></div>
</div>
<div id="contents">
    <div th:replace="~{menu/certificate/fragments/left_sidebar :: left_sidebar}">
        <!--//왼쪽메뉴 끝-->
    </div>

    <style>
              .w { text-align: left; }
              .x { text-align: right; }
              .y { text-align:  justify; width:73%; word-break:break-all; }
              .z { text-align: justify; width:45%; word-break:break-all; }
    </style>

    <div class="right_warp">
        <div class="local">
            <p th:if="${page_type == '4.1'}">HOME &gt; 자격증/취창업 &gt; 전문자격증</p>
            <p th:if="${page_type == '4.2'}">HOME &gt; 자격증/취창업 &gt; 등록민간자격증</p>
            <p th:if="${page_type == '4.3'}">HOME &gt; 자격증/취창업 &gt; 기술자격증</p>
            <p th:if="${page_type == '4.4'}">HOME &gt; 자격증/취창업 &gt; 취창업과정</p>
            <h3 th:if="${page_type == '4.1'}">전문자격증</h3>
            <h3 th:if="${page_type == '4.2'}">등록민간자격증</h3>
            <h3 th:if="${page_type == '4.3'}">기술자격증</h3>
            <h3 th:if="${page_type == '4.4'}">취창업과정</h3>
        </div>
        <div class="contentsArea">
            <div class="bbsList">
                <p th:if="${subject_name eq '미술심리상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/art_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '아동심리상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/child_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '노인심리상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/oldman_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '다문화심리상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/multicultural_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '동화구연지도사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/story_teller.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == 'POP예쁜손글씨'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/pop_graphy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '레크리에이션지도사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/recreation_expert.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '웃음코칭지도사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/laughing_coaching.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '펀리더십지도사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/fun_leadership.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '숲체험심리상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/forest_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '인지행동상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/cognitive_psy.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '학교폭력예방상담사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/school_violence.png" width="100%" height="auto">
                </p>
                <p th:if="${subject_name == '민간조사사'}"class="cntTxt01" align="center">
                    <img src="/item/certifi_info/private_investi.png" width="100%" height="auto">
                </p>
                <table width="100%">
                    <tr>
                        <th width="15%">과정</th>
                        <th width="35%">교과목</th>
                        <th width="15%">요일/시간</th>
                        <th width="10%">강의기간</th>
                        <th width="10%">수강료</th>
                        <th width="10%">수강신청</th>
                    </tr>
                    <tr th:each = "subject :${subject_list}">
                        <td th:text="${subject.subject_field}"></td>
                        <td>
                            <a th:href="@{/menu/subject/apply(id = ${subject.id})}" th:text="${subject.subject_name}"></a>
                        </td>
                        <td th:text="${subject.lecture_time}"></td>
                        <td th:text="${subject.period}+'주'"></td>
                        <td th:text="${subject.fee}+'원'"></td>
                        <td th:if="${subject.subject_stat.name() == '임시'}" style="background:lightgreen;">임시</td>
                        <td th:if="${subject.subject_stat.name() == '접수중'}" style="background:orange;">접수중</td>
                        <td th:if="${subject.subject_stat.name() == '마감'}" style="background:red;color:white;">마감</td>
                        <td th:if="${subject.subject_stat.name() == '폐강'}" style="background:gray;color:white;">폐강</td>
                    </tr>
                </table>
            </div>
            <div class="btnArea">
                <a th:if="${session.member_type == 'dd'} or ${session.member_type == 'st'} or ${session.member_type == 'ai'}"th:href="@{/menu/subject/write_page(return_page=${return_page})}" style="background-image:url('/item/btn_gray.gif');color:white; width:200px; height:50px;">강의 등록</a>
            </div>
        </div>
        <!--//contentsArea 끝-->
    </div>
    <!--//right_warp 끝-->
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>