<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Title</title>
</head>
<body>
<div id="footer_warp" th:fragment="footer" class="con-min-width">
  <div class="f_menu_cont">
    <div class="f_menu" >
      <ul>
        <li class="pt10"><a href="https://calvin.ac.kr" target="_blank">칼빈대학교<span style="color:#004a95">.</span></a></li>
        <!--<li><a href="http://calvin.or.kr" target="_blank"><img src="/item/top_logo2.jpg" alt="" width="120" height="32"/><span style="color:#004a95">.</span></a></a></li>-->
<!--        <li class="pt10"><a href="https://www.cb.or.kr/creditbank/base/nMain.do" target="_blank"><img src="/item/bank_img.png" alt="" /><span style="color:#004a95">.</span></a></li>-->
        <li class="pt10"><a href="https://www.cb.or.kr/creditbank/base/nMain.do" target="_blank">국가평생교육진흥원<span style="color:#004a95">.</span></a></li>
<!--        <li class="pt10"><a href="https://www.cbinfo.or.kr" target="_blank"><img src="/item/bank_img_02.png" alt="" /><span style="color:#004a95">.</span></a></li>-->
        <li class="pt10"><a href="https://www.cbinfo.or.kr" target="_blank">학점은행제 정보공시<span style="color:#004a95">.</span></a></li>
<!--        <li><a href="/menu/info/campus" ><img src="/item/pr_img.png" alt="" /><span style="color:#004a95">.</span></a></li>-->
        <li><a href="/menu/info/campus" >캠퍼스안내</span></a></li>
<!--        <li><a href="/menu/info/path" ><img src="/item/map_img.png" alt="" /><span style="color:#004a95">.</span></a></li>-->
        <li><a href="/menu/info/path" >찾아오시는 길</span></a></li>
      </ul>
    </div>
    <div class="f_tel">
      <ul>
        <li class="tel_tx1"><span class="tx_copy">학점은행제</span> : 031-270-8812  <span class="tx_copy pl10">일반교육과정</span> : 031-270-8847  <span class="tx_copy pl10">특별교육과정</span> : 031-270-8839</li>
        <!--<li class="tel_tx3">031)8005-2453</li>
        <li class="tel_tx2">031)8005-2615~2616</li>-->


      </ul>
    </div>
  </div>
  <div class="footer">
    <div class="footer_logo">
      <img src="/item/top_logo2.jpg"  width="auto" height="100px" style="position:absolute; top:10%; " alt="" />
    </div>

    <div class="copyright">
      <ul>
        <li>칼빈대학교 16911 경기도 용인시 기흥구 마북로 184</li><br>
        <li>TEL:031-284-4752~5</li>
        <!-- <li>사업자등록번호 : 106-82-02786 / 대표자 : 장호성</li>-->
      </ul>
      <p>Copyright (c) 2016 CALVIN UNIVERSITY. All Rights Reaeved.</p>
    </div>
  </div>
</div>

</body>
</html>