<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>칼빈대학교 평생교육원</title>
</head>
<body>
<span class="blind" style="display:none;"></span>

<div id="header" th:fragment="header" class="con-min-width">
    <div class="inner">
        <h1><a href="/"><img src="/item/top_logo02.jpg" alt="칼빈대학교 평생교육원" width="230px" height="65px"></a></h1>
        <div class="util_wrap">
            <div class="util">
                <span><a href="/">홈</a></span>
                <span>
                    <a th:if="${session.member_id == null}" href="/member/login" >로그인/회원가입</a>
                    <a th:unless="${session.member_id == null}" href="/member/logout">로그아웃</a>
                </span>
                <span th:unless="${session.member_id == null}"><a href="/member/mypage/subject">마이페이지</a></span>
            </div>
        </div>
    </div>
    <!--//inner-->
    <div id="gnb_wrap">
        <ul id="gnb">
            <li><a href="/menu/info/greeting">평생교육원 소개</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/info/greeting">원장 인사말</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info/history">연혁</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info/organization">조직도</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info/campus" >캠퍼스 안내</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info/path">찾아오시는 길</a></dt>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>

            <li><a href="/menu/subject/ACBsystem">학점은행제</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/subject/ACBsystem">학점은행제 소개 </a></dt>
                            </dl>
                        </li>

                        <li>
                            <dl>
                                <dt><a href="/menu/subject/list?type=학점은행제">개설교과목안내</a></dt>
                                <dd><a href="/menu/subject/list?field=사회복지학과&type=학점은행제">사회복지학과</a></dd>
                                <dd><a href="/menu/subject/list?field=상담&type=학점은행제">상담학과</a></dd>
                                <dd><a href="/menu/subject/list?field=신학&type=학점은행제">신학과</a></dd>
                                <dd><a href="/menu/subject/list?field=아동&type=학점은행제">아동학과</a></dd>
                                <dd><a href="/menu/subject/list?field=실용음악과&type=학점은행제">실용음악과</a></dd>
                                <dd><a href="/menu/subject/list?field=교양&type=학점은행제">교양</a></dd>
                                <dd><a href="/menu/subject/list?field=사회복지현장실습&type=학점은행제">사회복지현장실습</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=요양보호사">행정관리사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=장애아특수교사">장애아특수교사</a></dd>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>
            <li><a href="/menu/special/list?type=특별교육과정&field=용인">특별교육과정 </a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=용인">&nbsp;&nbsp;&nbsp;&nbsp;용인학아카데미</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=서현정치경제">서현정치경제아카데미</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=경기교육">&nbsp;&nbsp;&nbsp;&nbsp;경기교육아카데미</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=레이번스축구아카데미">레이번스축구아카데미</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=연예">연예아카데미</a></dt>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>

            <li><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증">자격증/취창업</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증">전문자격증</a></dt>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=사회복지사">사회복지사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=평생교육사">평생교육사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=요양보호사">행정관리사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=전문자격증&name=장애아특수교사">장애아특수교사</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증">등록민간자격증</a></dt>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=미술심리상담사">미술심리상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=아동심리상담사">아동심리상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=노인심리상담사">노인심리상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=다문화심리상담사">다문화심리상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=동화구연지도사">동화구연지도사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=POP예쁜손글씨">POP예쁜손글씨</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=레크리에이션지도사">레크리에이션지도사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=웃음코칭지도사">웃음코칭지도사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=펀리더십지도사">펀리더십지도사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=숲체험심리상담사">숲체험심리상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=인지행동상담사">인지행동상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=학교폭력예방상담사">학교폭력예방상담사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=민간자격증&name=민간조사사">민간조사사(탐정사)</a></dd>

                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/certificate/list?type=자격증취창업&field=기술자격증">기술자격증</a></dt>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=기술자격증&name=전기기능사">전기기능사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=기술자격증&name=설비기능사">설비기능사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=기술자격증&name=산업안전기능사">산업안전기능사</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/certificate/list?type=자격증취창업&field=취창업">취창업과정</a></dt>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=융합반도체운영요원">융합반도체운영요원</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=골프진행요원">골프진행요원</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=물류관리사">물류관리사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=하우스닥터">하우스닥터</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=바리스타">바리스타</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=장례지도사">장례지도사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=요양보호사">요양보호사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=간호조무사">간호조무사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=도시농업관리사">도시농업관리사</a></dd>
                                <dd><a href="/menu/certificate/list?type=자격증취창업&field=취창업&name=원예기능사">원예기능사</a></dd>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>
            <li><a href="/menu/liberal_arts/list?type=일반교양">일반교양과정</a>
                <div class="gsub_box">
                    <ul class="gsub">

                        <li>
                            <dl>
                                <dt><a href="/menu/liberal_arts/list?type=일반교양">개설교과목안내</a></dt>
                                <dd><a href="/menu/subject/list?type=일반교양&field=논술강좌">논술강좌</a></dd>
                                <dd><a href="/menu/subject/list?type=일반교양&field=자기계발">자기계발강좌</a></dd>
                                <dd><a href="/menu/subject/list?type=일반교양&field=생활건강">생활건강</a></dd>
                                <dd><a href="/menu/subject/list?type=일반교양&field=생활교양">생활교양</a></dd>
                                <dd><a href="/menu/subject/list?type=일반교양&field=생활예술">생활예술</a></dd>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>
            <li><a href="/menu/language/list?type=언어&field=성경고전어">언어교육원</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/language/list?type=언어&field=성경고전어">성경고전어</a></dt>
                                <dd><a href="/menu/language/list?type=언어&field=성경고전어&name=히브리어">히브리어</a></dd>
                                <dd><a href="/menu/language/list?type=언어&field=성경고전어&name=헬라어">헬라어</a></dd>
                                <dd><a href="/menu/language/list?type=언어&field=성경고전어&name=라틴어">라틴어</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/language/list?type=언어&field=제2외국어">제 2외국어 </a></dt>
                                <dd><a href="/menu/language/list?type=언어&field=제2외국어&name=영어">영어</a></dd>
                                <dd><a href="/menu/language/list?type=언어&field=제2외국어&name=독일어">독일어</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/language/list?type=언어&field=한국어">한국어</a></dt>
                            </dl>
                        </li>

                    </ul><!--//gsub-->
                </div>
            </li>
            <li><a href="/menu/ministry/list?type=목회">칼빈목회연수원</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/ministry/list?type=목회">목회포럼</a></dt>
                                <dd><a href="/menu/ministry/list?type=목회&field=성경강해">성경강해</a></dd>
                                <dd><a href="/menu/ministry/list?type=목회&field=성경주해">성경주해</a></dd>
                                <dd><a href="/menu/ministry/list?type=목회&field=목회트렌드">목회트렌드</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/ministry/presbyter">장로권사포럼 </a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/ministry/f_pastor">여교역자포럼</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/special/list?type=특별교육과정&field=사모포럼">사모포럼</a></dt>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>

            <li><a href="/menu/info2/recruit">정보광장</a>
                <div class="gsub_box">
                    <ul class="gsub">
                        <li>
                            <dl>
                                <dt><a href="/menu/info2/recruit">모집안내</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info2/calendar">학사일정 </a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info2/scholarship">장학제도</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/info2/apply_guide">수강신청안내</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/board?board_type=공지사항">공지사항</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/board?board_type=사진자료실">사진자료실</a></dt>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/menu/board?board_type=서식자료실">서식자료실</a></dt>
                            </dl>
                        </li>
                    </ul><!--//gsub-->
                </div>
            </li>

        </ul>
    </div>
</div>

<script>
                function login_open2() {
                    alert('로그인 후 사용해주시기 바랍니다.(로그인 방법은 입학안내의 수강신청 이용안내 를 참고해주세요)');
                    window.open('https://cecinfo.dankook.ac.kr/member/logon.do?returnurl=http://cecinfo.dankook.ac.kr:80/tiaf/adjt/cone/stda/views/findLtrOpDsc.do&sso=ok');
                    return false();
                }
            </script>

</body>
</html>