/*  (Reset) */
@font-face{ font-family:NG; src:url(font/NanumGothic.eot); src:local(¡Ø), url(font/NanumGothic.woff) format('woff');}
@font-face{ font-family:NGEN; src:url(font/NanumGothicBold.eot); src:local(¡Ø), url(font/NanumGothicBold.woff) format('woff');}

*{margin:0; padding:0}
body { font-size:12px; color:#333; font-family:NanumGothic, ³ª´®°íµñ, NG, Tahoma, Geneva, sans-serif; -webkit-text-size-adjust:none; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0;padding:0}  
h1,h2,h3,h4,h5 {font-family:NanumGothic, ³ª´®°íµñ, NG, Tahoma, Geneva, sans-serif;}
body,input,textarea,select,button,table { font-family:NanumGothic, ³ª´®°íµñ, NG, Tahoma, Geneva, sans-serif; font-size:13px; line-height:150%}
img,fieldset{border:0;}
img,input {vertical-align:middle;}
ul,ol,menu{list-style:none;}
a{color:#333; text-decoration:none;cursor:pointer}
a:hover{color:#333; text-decoration:none}
table {
	border-collapse:collapse;
	border-spacing:0;
	border:0;
}


legend, caption{visibility:hidden; overflow:hidden; width:0; height:0;; font-size:0; line-height:0} /*display:none*/


/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"]{height:24px; padding:0 2px; border:1px solid #cfcfcf; vertical-align:middle;}
input[type="radio"],
input[type="checkbox"]{width:13px; height:13px; vertical-align:middle;}
input[type="file"]{ height:24px; padding:3px 0; border:1px solid #cfcfcf; background:#fff; vertical-align:middle;}
input[type="submit"] { border:none}
textarea {overflow:auto;overflow-x:hidden;border:1px solid #cfcfcf; background:#fff;resize:none; width:99%; padding:5px}
select { max-width:100%; border:1px solid #cfcfcf; height:26px; padding:0 0 0 5px; }

/* Button */
button{overflow:visible;margin:0;padding:0;border:0;background:none;white-space:nowrap;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
button span{position:relative;}



 /* Margin Set */
.ml5	{margin-left:5px;}	.ml10	{margin-left:10px;}		.ml15	{margin-left:15px;}		.ml20	{margin-left:20px;}		.ml25	{margin-left:25px;}		.ml30	{margin-left:30px;}		.ml35	{margin-left:35px;}		.ml40	{margin-left:40px;}		.ml45	{margin-left:45px;}		.ml50	{margin-left:50px;}		.ml55	{margin-left:55px;}	.ml63	{margin-left:63px;}	.ml65	{margin-left:65px;}
.mr5	{margin-right:5px;}	.mr10	{margin-right:10px;}	.mr15	{margin-right:15px;}	.mr20	{margin-right:20px;}	.mr25	{margin-right:25px;}	.mr30	{margin-right:30px;}	.mr35	{margin-right:35px;}	.mr40	{margin-right:40px;}	.mr45	{margin-right:45px;}	.mr50	{margin-right:50px;}		.mr450	{margin-right:450px;}
.mb4	{margin-bottom:4px;}.mb5	{margin-bottom:5px;}	.mb10	{margin-bottom:10px;}	.mb15	{margin-bottom:15px;}	.mb20	{margin-bottom:20px;}	.mb25	{margin-bottom:25px;}	.mb30	{margin-bottom:30px;}	.mb35	{margin-bottom:35px;}	.mb40	{margin-bottom:40px;}	.mb45	{margin-bottom:45px;}	.mb50	{margin-bottom:50px;}	.mb55	{margin-bottom:55px;}	.mb60	{margin-bottom:60px;}
.mt2	{margin-top:2px;}	.mt5	{margin-top:5px;}	.mt10	{margin-top:10px;}		.mt15	{margin-top:15px;}		.mt20	{margin-top:20px;}		.mt25	{margin-top:25px;}		.mt30	{margin-top:30px;}		.mt35	{margin-top:35px;}		.mt40	{margin-top:40px;}		.mt45	{margin-top:45px;}		.mt50	{margin-top:50px;}

/* Padding Set */
.pl1	{padding-left:1px;}  .pl5	{padding-left:5px;}		.pl10	{padding-left:10px;}	.pl15	{padding-left:15px;}	.pl20	{padding-left:20px;}	.pl25	{padding-left:25px;}	.pl30	{padding-left:30px;}	.pl35	{padding-left:35px;}	.pl40	{padding-left:40px;}	.pl45	{padding-left:45px;}	.pl48	{padding-left:48px;}	.pl50	{padding-left:50px;}	.pl55	{padding-left:55px;}	.pl60	{padding-left:60px;}
.pr5	{padding-right:5px;}	.pr10	{padding-right:10px;}	.pr15	{padding-right:15px;}	.pr20	{padding-right:20px;}	.pr25	{padding-right:25px;}	.pr30	{padding-right:30px;}	.pr35	{padding-right:35px;}	.pr40	{padding-right:40px;}	.pr45	{padding-right:45px;}	.pr50	{padding-right:50px;}	.pr100	{padding-right:100px;}
.pb5	{padding-bottom:5px;}	.pb10	{padding-bottom:10px;}	.pb15	{padding-bottom:15px;}	.pb20	{padding-bottom:20px;}	.pb25	{padding-bottom:25px;}	.pb30	{padding-bottom:30px;}	.pb35	{padding-bottom:35px;}	.pb40	{padding-bottom:40px;}	.pb45	{padding-bottom:45px;}	.pb50	{padding-bottom:50px;}
.pt2	{padding-top:2px;} .pt5	{padding-top:5px;}		.pt10	{padding-top:10px;}		.pt15	{padding-top:15px;}		.pt20	{padding-top:20px;}		.pt25	{padding-top:25px;}		.pt30	{padding-top:30px;}		.pt35	{padding-top:35px;}		.pt40	{padding-top:40px;}		.pt45	{padding-top:45px;}		.pt50	{padding-top:50px;}		.pt55	{padding-top:55px;}		.pt60	{padding-top:60px;}


/* Align */
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.left {float:left;}
.right {float:right;}

.dn{display:none}
.clear{ clear:both}


/*ÆùÆ®»ö»ó*/
.txWhite { color:#fff}
.txBlue { color:#1c8bba}
.txpink { color:#fb576a}
.txsky { color:#2ac4f4}
.txGreen { color:#73ac1a}
.txYellow { color:#f4bc15}
.txSkyblue { color:#0f5da6}
.txGary { color:#949494}
.txBlack { color:#000}

.tx400 {font-weight:400;}

.block {display:block}