
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!Doctype html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=1700">
    <title>단국대학교 평생교육원 죽전캠퍼스</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/pop.js"></script>
    <script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script><!-- 메뉴, 메인 제이쿼리 -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="../js/gnb.js"></script> <!-- 메뉴 제이쿼리 -->
    <script type="text/javascript" src="../js/script.js"></script>
</head>

<body>
<div id="skipnavi">
    <p><a href="#main_contents">본문 바로가기</a></p>
    <p><a href="#mainMenu">주메뉴 바로가기</a></p>
</div>

<div id="warp">
    <!-- header -->
    <span class="blind" style="display:none;"></span>

    <div id="header">
        <div class="inner">
            <h1><a href="../main/index.php"><img src="../img/common/top_logo.png" alt="단국대학교 평생교육원"></a></h1>
            <div class="util_wrap">
                <div class="util">
                    <span><a href="../main">홈</a></span>
                    <span><a href="https://cecinfo.dankook.ac.kr/member/logon.do?returnurl=http://cecinfo.dankook.ac.kr:80/tiaf/adjt/cone/stda/views/findLtrOpDsc.do&sso=ok" target="_blank">로그인/회원가입</a></span>
                    <!--<span><a href="http://www.dankook.ac.kr" target="_blank"><img src="../img/common/top_btn_dku.png" alt="단국대학교" /></a></span>-->
                </div>
            </div>
        </div>
        <!--//inner-->
        <div id="gnb_wrap">
            <ul id="gnb">
                <li><a href="/about/about01.php">평생교육원 소개</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/about/about01.php">원장 인사말</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/about/about02.php">연혁</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/about/about03.php">조직도</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="http://www.dankook.ac.kr/web/kor/campusmap?p_p_id=Campus_WAR_campusportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_Campus_WAR_campusportlet_sCampusId=1&_Campus_WAR_campusportlet_pageView=detail&_Campus_WAR_campusportlet_action=view" target="_blank">캠퍼스 안내</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/about/about05.php">찾아오시는 길</a></dt>
                                </dl>
                            </li>
                        </ul><!--//gsub-->
                    </div>
                </li>


                <li><a href="/gen_course/gen_course01.php">일반교육과정</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/gen_course/gen_course01.php">개설교과목안내</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/gen_course/list_new.php?mjCd=2000004421">수강신청</a></dt>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004421">도예교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004603">복식교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004426">생활건강교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004420">생활교양교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004427">생활예술교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004428">음악교육과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004748">무용학심화과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000005744">반려동·식물과정</a></dd>
                                    <dd><a href="/gen_course/list_new.php?mjCd=2000004430">자격증교육과정</a></dd>
                                </dl>
                            </li>
                        </ul><!--//gsub-->
                    </div>
                </li>
                <li><a href="/special/special01.php">특별교육과정</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/special/special01.php">개설교과목안내</a></dt>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt><a href="/special/list_new.php?mjCd=2000005585">수강신청</a></dt>
                                    <dd><a href="/special/list_new.php?mjCd=2000005585">CEO 골프 마스터 과정</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005745">4060 패션모델 클래스</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005746">7080 건강워킹모델 클래스</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005637">반려견 유치원 창업 과정</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005747">엔딩코디네이터 전문과정</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005748">주식투자 전문가과정</a></dd>
                                    <dd><a href="/special/list_new.php?mjCd=2000005749">카페 창업을 위한 실무</a></dd>

                                </dl>
                            </li>


                        </ul><!--//gsub-->
                    </div>
                </li>

                <li><a href="/bank/bank01.php">학점은행제</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/bank/bank01.php">학점은행제 안내 </a></dt>
                                    <dd><a href="/bank/bank01.php">학점은행제 소개</a></dd>
                                    <dd><a href="/bank/bank01_2.php">평가인정학습과목</a></dd>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt><a href="/bank/bank02.php">개설교과목안내</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/bank/list_new.php?mjCd=2000004434">수강신청</a></dt>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004434">도예 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004435">사회복지학 전공</a></dd>
                                    <dd><a href="#">체육학 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004436" class="four">운동처방재활학</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004436" class="four">생활체육학</a></dd>
                                    <!--<dd><a href="http://www.dankooksports.or.kr" target="_blank">체육학 전공(골프캐디)</a></dd>-->
                                    <dd><a href="/bank/list_new.php?mjCd=2000004437">태권도학 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004438">화훼조형학 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004749">무용학 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000005750">부동산학 전공</a></dd>
                                    <dd><a href="/bank/list_new.php?mjCd=2000004524">교양</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/bank/bank02.php">전공소개</a></dt>
                                    <dd><a href="/bank/bank04.php">도예 전공</a></dd>
                                    <dd><a href="/bank/bank04_2.php">사회복지학 전공</a></dd>
                                    <dd><a href="#">체육학 전공</a></dd>
                                    <dd><a href="/bank/bank04_3.php" class="four">운동처방재활학</a></dd>
                                    <dd><a href="/bank/bank04_3_02.php" class="four">생활체육학</a></dd>
                                    <!--<dd><a href="http://www.dankooksports.or.kr" target="_blank">체육학 전공(골프캐디)</a></dd>-->
                                    <dd><a href="/bank/bank04_4.php">태권도학 전공</a></dd>
                                    <dd><a href="/bank/bank04_5.php">화훼조형학 전공</a></dd>
                                    <dd><a href="/bank/bank04_6.php">무용학 전공</a></dd>
                                    <dd><a href="/bank/bank04_7.php">부동산학 전공</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/bank/bank05.php">FAQ</a></dt>
                                </dl>
                            </li>

                        </ul><!--//gsub-->
                    </div>
                </li>

                <li><a href="/entran/entran01.php">학사안내 </a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/entran/entran01.php">모집안내</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/entran/entran02.php">학사일정</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/entran/entran03.php">장학제도 및<br>수강료 감면기준</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/entran/entran04_02.php">수강신청 안내 </a></dt>
                                    <dd><a href="/entran/entran04_02.php">일반교육과정</a></dd>
                                    <dd><a href="/entran/entran04_03.php">특별교육과정</a></dd>
                                    <dd><a href="/entran/entran04_01.php">학점은행제</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/entran/entran05.php">환불규정</a></dt>
                                </dl>
                            </li>
                        </ul><!--//gsub-->
                    </div>
                </li>
                <li><a href="/communi/list.php?boardid=1">정보광장</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="/communi/list.php?boardid=1">공지사항</a></dt>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt><a href="/communi/list.php?boardid=2">평생교육원소식 </a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/communi_photo/list.php">포토갤러리</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/communi/list.php?boardid=3">서식자료실</a></dt>
                                </dl>
                            </li>
                            <!--
                            <li>
                                <dl>
                                    <dt><a href="/communi/list.php?boardid=7">학점은행제 정보공시</a></dt>
                                </dl>
                            </li>
                            -->

                            <li>
                                <dl>
                                    <dt><a href="/communi/communi06.php">증명서발급안내</a></dt>
                                </dl>
                            </li>
                            <!--
                            <li>
                                <dl class="pt20">
                                    <dt><a href="/communi/communi07.php">시설물사용신청</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/communi/list.php?boardid=19">코로나19 관련 공지</a></dt>
                                </dl>
                            </li>
                            -->

                        </ul><!--//gsub-->
                    </div>
                </li>


                <li><a href="#">관련사이트</a>
                    <div class="gsub_box">
                        <ul class="gsub">
                            <li>
                                <dl>
                                    <dt><a href="http://www.dankook.ac.kr/web/kor/home?passIntro=1" target="_blank">단국대학교</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="https://portal.dankook.ac.kr/web/portal" target="_blank">단국포털 </a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="http://ccec.dankook.ac.kr" target="_blank">단국대학교<br>천안 평생교육원</a></dt>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="http://www.nile.or.kr/index.jsp" target="_blank">국가평생교육진흥원</a></dt>
                                </dl>
                            </li>
                        </ul><!--//gsub-->
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <script>
                function login_open2() {
                    alert('로그인 후 사용해주시기 바랍니다.(로그인 방법은 입학안내의 수강신청 이용안내 를 참고해주세요)');
                    window.open('https://cecinfo.dankook.ac.kr/member/logon.do?returnurl=http://cecinfo.dankook.ac.kr:80/tiaf/adjt/cone/stda/views/findLtrOpDsc.do&sso=ok');
                    return false();
                }
            </script>
    <!-- //header -->

    <!-- Visual -->
    <div id="visual">
        <script type="text/javascript" src="../js/main_visual.js"></script>


        <div class="mainVisual">
            <a href="http://jcec.dankook.ac.kr/communi/list.php?boardid=19"><img src="../img/main/main_visual04.png"></a>



            <!--

            코로나 게시판 공지 이미지 소스 삭제 자리

            -->



        </div><!--//mainVisual -->

    </div>
    <!--//Visual -->



    <!-- footer_warp -->
    <div id="footer_warp">
        <div class="f_menu_cont">
            <div class="f_menu">
                <ul>
                    <li><a href="http://www.dankook.ac.kr" target="_blank"><img src="../img/common/juk_logo.png" alt="" /><span style="color:#004a95">.</span></a></a></li>
                    <li><a href="http://ccec.dankook.ac.kr" target="_blank"><img src="../img/common/chun_logo.png" alt="" /><span style="color:#004a95">.</span></a></a></li>
                    <li class="pt10"><a href="https://www.cb.or.kr/creditbank/base/nMain.do" target="_blank"><img src="../img/common/bank_img.png" alt="" /><span style="color:#004a95">.</span></a></li>
                    <li class="pt10"><a href="https://www.cbinfo.or.kr" target="_blank"><img src="../img/common/bank_img_02.png" alt="" /><span style="color:#004a95">.</span></a></li>
                    <li><a href="http://www.dankook.ac.kr/web/kor/campusmap?p_p_id=Campus_WAR_campusportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_Campus_WAR_campusportlet_sCampusId=1&_Campus_WAR_campusportlet_pageView=detail&_Campus_WAR_campusportlet_action=view" target="_blank"><img src="../img/common/pr_img.png" alt="" /><span style="color:#004a95">.</span></a></li>
                    <li><a href="http://www.dankook.ac.kr/web/kor/i7_5_1_1" target="_blank"><img src="../img/common/map_img.png" alt="" /><span style="color:#004a95">.</span></a></li>
                </ul>
            </div>
            <div class="f_tel">
                <ul>
                    <li class="tel_tx1"><span class="tx_copy">일반교육과정</span> : 031)8005-2616,2618  <span class="tx_copy pl10">특별교육과정</span> : 031)8005-2617  <span class="tx_copy pl10">학점은행제</span> : 031)8005-2613~5</li>
                    <!--<li class="tel_tx3">031)8005-2453</li>
                    <li class="tel_tx2">031)8005-2615~2616</li>-->


                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="footer_logo">
                <img src="../img/common/footer_logo.png" alt="" />
            </div>

            <div class="copyright">
                <ul>
                    <li>(우)16890 경기도 용인시 수지구 죽전로 152 단국대학교 대학원동 506호</li>
                    <li>TEL:031)8005-2613~7 / FAX:031)8021-7170  /  E-mail : cecbear@dankook.ac.kr</li>
                    <!-- <li>사업자등록번호 : 106-82-02786 / 대표자 : 장호성</li>-->
                </ul>
                <p>Copyright (c) 2016 DANKOOK UNIVERSITY. All Rights Reaeved.</p>
            </div>
        </div>
    </div>
    <!-- //footer_warp -->

</div>
</body>
</html>
